.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--background);
  margin-top: -80px;
  overflow: hidden;
}

.circleContainer {
  position: absolute;
  top: -30%; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  z-index: 1; 
  pointer-events: none;
}

.bigCircle {
  width: 100vw;
  height: 100vw;
  max-width: 1200px;
  max-height: 1200px;
  background: radial-gradient(circle at center, #1b1b1b 0%, transparent 100%);
  border-radius: 50%;
  opacity: 0.9;
  filter: blur(50px); 
}

.content {
  position: relative;
  z-index: 2; 
  width: 100%;
  padding: 0 var(--container-px);
  padding-top: 100px; 
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.upperSubtitle {
  color: var(--color-gray-300);
  font-size: var(--font-size-xs);
  letter-spacing: 0.5rem; 
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.mainTitle {
  font-size: clamp(3.5rem, 18vw, 12rem); 
  line-height: 0.9; 
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
  letter-spacing: -4px;
}

.actionArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -2rem;
  padding-right:1rem; 
}

.description {
  color: var(--color-gray-300);
  font-size:var(--font-size-sm);
  text-align: right;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  line-height: 1.5;
  max-width: 250px;
}

.exploreBtn {
  text-decoration: none; 
  background: none;
  border: none;
  color: var(--color-white);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  padding: 12px 0;
  transition: all 0.3s ease;
  display: inline-block;
}

.exploreBtn:hover {
  letter-spacing: 4px;
}

.btnLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-white);
  transform: scaleX(0.2); 
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.exploreBtn:hover .btnLine {
  transform: scaleX(1); 
  transform-origin: left;
}



@media (max-width: 1024px) {
  .mainTitle {
    letter-spacing: -2px;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    --container-px: 1.5rem; 
  }

  .mainTitle {
    line-height: 1.1; 
  }

  .actionArea {
    align-items: flex-start;
    margin-top: 3rem;
  }

  .description {
    text-align: left;
  }

  .btnLine {
    transform-origin: left; 
    transform: scaleX(0.4);
  }
}
@media (max-width:500px){
  .upperSubtitle{
    letter-spacing: 0.1rem; 
    font-size: var(--font-size-xxs);
  }
  .exploreBtn{
    font-size: 0.6rem;
  }
}