.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 3rem clamp(1rem, 1vw, 2rem) 2rem clamp(1rem, 1vw, 2rem);
}

.header {
  margin-bottom: 60px;
  text-align: left;
}

.mainTitle {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--color-white);
  line-height: 1.1;
  margin-bottom: 8px;
}

.subTitle {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(300px, 48%, 260px), 1fr));
  gap: clamp(1rem, 2vw, 2rem);
  row-gap: 5rem;
  justify-content: center;
}